body {
    background-color: #BB6F04;
    color: #444;
    font: 12px "微软雅黑", Helvetica, Arial, Verdana, "宋体";
    word-wrap: break-word;
}

* {
    margin: 0;
    padding: 0;
}

.clearfix:after { clear: both; }

.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.page-header {
    background: url("/Images/bg-topbar.png") repeat-x scroll 0 -68px transparent;
    background-color: gray;
    height: 32px;
}

.page-header-navigation { }

.page-container {
    background: url("/Images/bg-body-ui.jpg") no-repeat scroll center -20px #BB6F04;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 660px;
    padding-bottom: 0;
}

h1 {
    color: #FFF;
    font: bold 40px "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    margin: 12px 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.page-container-navigation {
    background: none repeat scroll 0 0 rgba(187, 111, 4, 0.5);
    border-radius: 10px 10px 0 0;
    border-top: 1px solid rgba(236, 195, 8, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.2), 0 -3px 5px rgba(137, 81, 6, 0.5) inset;
    display: block;
    height: 50px;
    margin-top: -1px;
    outline: 0 none;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: auto;
}

.page-container-navigation-menu {
    border: medium none;
    box-shadow: none;
    display: block;
    float: left;
    line-height: 18px;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 8px 0 8px 10px;
    vertical-align: baseline;
    width: 70%;
}

.page-container-navigation-menu li {
    box-shadow: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding: 7px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.page-container-navigation-menu li:hover, .page-container-navigation-menu li.active, .nav-menu-active {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    padding: 6px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.796), 0 0 10px rgba(255, 255, 255, 0.298);
}

.page-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: -50px;
    margin-right: 2px;
    min-height: 600px;
    overflow: hidden;
    position: relative;
    z-index: 20;
}

.page-body-leftmenu {
    background-color: lavender;
    border-radius: 0 0 0 8px;
    border-right: 1px solid #CCCCCC;
    float: left;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    width: 12%;
}

.page-body-leftmenu-items ul li {
    border-bottom: 1px solid #C5C5C5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    clear: left;
    cursor: pointer;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-body-leftmenu-items ul li span {
    color: #3F3F3F;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: -1px 0 0 -8%;
    padding: 5% 22%;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 96%;
}

.page-body-leftmenu-items ul li span:hover, .page-body-leftmenu-items ul li span.active {
    background: none repeat scroll 0 0 burlywood;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: -1px 0 0 -8%;
    padding: 4% 21%;
    width: 65%;
}

.menu-item-active { background: none repeat scroll 0 0 burlywood; }

.page-body-rightpanel {
    float: right;
    width: 87%;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
}

.page-footer {
    background-color: #212121;
    background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.3), transparent), url("/Images/bg-footer-noise.jpg");
    background-repeat: repeat-x, repeat;
    background-size: 100px 15px, 140px 140px;
    border-color: #D69A06;
    border-top: 1px solid #6B6868;
    display: block;
    float: left;
    height: 300px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.panel {
    padding: 6px 8px 6px 2px;
}

.footer-copyright {
    font: 11px "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    text-align: center;
    margin-top: 55px;
    color: #999;
    display: block;
}