<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <!--协仪 端口-->
        <channel ref="http" port="80000"></channel>
      </channels>
      <service>
        <!--调用模式单无素对像.
        WellKnownObjectMode.Singleton:,只实例化一次对像.单调模式
        WellKnownObjectMode.SingleCall  //每个客户端都实例化一个对象,创建与销毁,序列化类,URL-->
        <wellknown mode="Singleton" type="Jeelu.SimplusOM.DataAgent" objectUri="DBService.SOAP"></wellknown>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>
