<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="8789"/>
    <add key="ServerIp" value="192.168.0.238"/>
    <!--<add key="ServerIp" value ="192.168.1.197"/> -->
    <!--<add key="ServerIp" value="218.246.34.206"/>-->
 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
