<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <default-wrapper xsi:type="AsyncWrapper" />
    <!--记录详细日志彩色控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=mm\:ss\.fff} : ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>