<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Jeelu.SimplusOM.Agent,Jeelu.SimplusOM.DataAgent" url="http://192.168.1.141:80000/DBService.SOAP"></wellknown>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>