<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logdir" value="${basedir}/Logs/${date:format=yyyyMM}" />
  <extensions>
    <add assembly="NKnife.NLog3" />
  </extensions>
  <targets async="true">
    <!--在主程序的界面上显示日志-->
    <target name="logpanel" xsi:type="LogPanel" />
    <!--记录详细日志彩色控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=mm\:ss\.fff} : ${message}" />
    <!--记录详细日志的目标文件-->
    <target name="logcsv" xsi:type="File" fileName="${logdir}/${shortdate}.log.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${date:format=yyMMdd HH\:mm\:ss\.fff}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}" />
        <column name="level" layout="${level}" />
      </layout>
    </target>
    <target name="logtxt" xsi:type="File" fileName="${logdir}/report.log.txt" layout="${date:format=mm\:ss\.fff} : ${message}">
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="logpanel" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="logcsv" />
    <logger name="*" minlevel="Trace" writeTo="logtxt">
      <filters>
        <!--仅仅记录通讯相关的日志-->
        <when condition="(not equals('${logger}','NKnife.Kits.SocketKnife.StressTest.View.TestCaseResultDialog'))"
              action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>