<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<NoSql name="databaseAppender">
			<MongoDb databaseName="weixin" collectionName="applicationLog" server="localhost" port="27017" />
		</NoSql>
		<!-- 
		<Jdbc name="databaseAppender" tableName="log4j">
			<DriverManager url="jdbc:mysql://localhost:3306/vyouyue_log_base" username="root" password="" />
			<Column name="auto_date" isEventTimestamp="true" />
			<Column name="date" pattern="%d{yyyy-MM-dd}" />
			<Column name="time" pattern="%d{HH:mm:ss}" />
			<Column name="millisecond" pattern="%d{SSS}" />
			<Column name="thread" pattern="%t" />
			<Column name="level" pattern="%level" />
			<Column name="logger" pattern="%logger" />
			<Column name="message" pattern="%message" />
			<Column name="exception" pattern="%ex{full}" />
		</Jdbc>
		-->
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="Console" />
		</root>
		<!-- 
		<root level="trace">
			<appender-ref ref="databaseAppender" />
		</root>
		-->
	</loggers>
</configuration>  