<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--
    1. Trace - 最常见的记录信息，一般用于普通输出
    2. Debug - 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
    3. Info  - 信息类型的消息
    4. Warn  - 警告信息，一般用于比较重要的场合
    5. Error - 错误信息
    6. Fatal - 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。 
  -->
  <variable name="logdir" value="${basedir}/Logs" />
  <targets async="true">
    <!--记录详细日志彩色控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=mm\:ss\.fff} : ${message}" />
    <!--记录详细日志的目标文件-->
    <target name="logcsv" xsi:type="File" fileName="${logdir}/${shortdate}.log.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${date:format=yyMMdd HH\:mm\:ss\.fff}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}" />
        <column name="level" layout="${level}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console">
      <!--不记录通讯相关的日志-->
      <when condition="equals('${logger}','Raven.Storage.Esent.StorageActions.DocumentStorageActions') 
              or equals('${logger}','Raven.Database.Indexing.Index.Indexing') 
              or equals('${logger}','Raven.Database.Indexing.Index.Querying') 
              or equals('${logger}','Raven.Database.Storage.IndexDefinitionStorage') 
              or equals('${logger}','Raven.Database.DocumentDatabase') 
              or equals('${logger}','Raven.Client.Document.InMemoryDocumentSessionOperations')"
            action="Ignore" />
    </logger>
    <logger name="*" minlevel="Trace" writeTo="logcsv" />
  </rules>
</nlog>